body {
    font-family: 'Roboto', sans-serif;
}
.page-info-input{
    width: 420px;
    height: 30px;
    margin-bottom: 10px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-and-input-container {
    display: flex;
}
.send-button {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.start {
    display: none;
}
.mission-paragraph {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
.refresh-button {
    margin: 5px;
    display: none;
}
.list-element {
    padding: 10px;
    list-style: none;
}
.trash {
    font-size: 20px;
    padding-right: 8px;
    text-decoration: none;
    color: red;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(182, 179, 179);
    outline: 0;
    box-shadow: none;
}
.general {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.name-list {
    padding: 0px;
    margin: 0px;
}
.list-element-general-box {
    display: flex;
    justify-content: space-between;
    width: 417px;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 5px;
    margin: 20px;
    border-radius: 4px;
}
.line-through {
    text-decoration:line-through
}