body {
    font-family: 'Roboto', sans-serif;
}
.page-info-input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}
.button-and-input-container {
    display: flex;
}
.send-button {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: #fff;
}
.start {
    display: none;
    background-color: #fff;
}
.mission-paragraph {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}
.refresh-button {
    margin: 5px;
    display: none;
    background-color: #fff;
}
.list-element {
    padding: 10px;
    list-style: none;
}
.trash {
    font-size: 20px;
    text-decoration: none;
    color: rgb(170, 7, 7);
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(182, 179, 179);
    outline: 0;
    box-shadow: none;
}
.general {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.name-list {
    padding: 0px;
    margin: 0px;
}
.list-element-general-box {
    display: flex;
    justify-content: space-between;
    width: 365px;
    align-items: center;
    background-color: #fff;
    color: rgb(6, 6, 97);
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
}
.line-through {
    text-decoration:line-through;
}
.none-through {
    text-decoration: none;
}
.draw-name {
    font-size: 15px;
    color: black;
}
.fa-exclamation-circle{
    margin-right: 5px;
    color: rgb(187, 7, 7);
    font-size: 20px;
}
.alert {
    width: 365px;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0791e3;
    border-radius: 8px;
    overflow: auto; 
    width: 420px;
    padding: 30px 30px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

 ::-webkit-scrollbar-thumb {
    background: #145DA0;
 }

 ::-webkit-scrollbar-track-piece {
    background: #090950;
 }
@media (max-width: 400px) {
  .card-container{
    max-width: 300px;
  }
}
@media (max-width: 1000px){
    body {
        background-color: #0791e3;
    }
}